.btn-paragraph {
    width: 232px;
    height: 21px;
    margin-left: 895px;
    margin-top: -50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #152739;
    mix-blend-mode: normal;
    opacity: 0.4;
}