.fakt {
    width: 744px;
    height: 133px;
    margin-left: 310px;
    margin-top: 36px;


    .fakt-data {
        width: 82px;
        height: 21px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #152739;
        mix-blend-mode: normal;
        opacity: 0.4;
    }

    .fakt-text {
        width: 744px;
        height: 88px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -1px;
        color: #152739;
        margin-top: 24px;
    }

}