.import {
    width: 814px;
    height: 404px;
    margin-left: 310px;
    margin-top: 40px;

    .import-text {
        width: 292px;
        height: 18px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.3;
        margin: auto;
        margin-top: 20px;
    }
}