.more {
    width: 820px;
    height: 404px;
    margin-left: 310px;
    margin-top: 24px;


    .more-text {
        width: 820px;
        height: 128px;
        margin: auto;

        .text-par {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #000000;
            mix-blend-mode: normal;
            opacity: 0.8;
            margin-left: 20px;
        }
    }

    .more-par {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-top: 24px;
    }
}