.saytt {
    width: 370px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 7px 24px rgba(48, 56, 64, 0.16);
    border-radius: 6px;
    margin-left: 310px;
    margin-top: 33px;
    display: flex;

}