.servic {
    width: 820px;
    height: 168px;
    margin-left: 310px;
    margin-top: 35px;

    .servic-text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}